.menu {
	overflow-x:hidden;
	position: absolute;
	left: 0;
	
}
.menu-open {
		left: 321px;
	
}
.menu-open .menu-side {
		left:0;
}
.menu-side,
.menu {
	transition: left 0.2s ease;
}
#menu {
		color: #000;
		background:#1B3542;
	    padding:10px;
	    
	
		}
.menu-side {
		background: #1B3542;
		border-right: 1px solid #1B3542;
        color: #fff;
		font-size:150%;
		text-align:center;
		opacity: 0.8;
		position:fixed;
		top:0;
		left:-321px;
		width: 300px;
		height: 100%;
		padding:10px;
}
* {
		margin:0;
		padding:0;
		}


#computers {width:100%;
		height:100%;
		position: absolute;
}

#everything   {
		width:100%;
		height:100%;
		position: relative;
		}
#contents{
		color:#fff;
		text-align:left;
		font-size:80%;
		}

h1 {
	text-align:center;
	font-size: 300%;
	margin: auto;
	color: #000;
	}
h2 {
	text-align:center;
	font-size:200%;
	margin:auto;
	color:#000;
	padding:10px;
	}

#intro { 
  background:#1B3542;
  border-style: solid;
  border-color: #fff;
  color: #fff;
   margin:30px;
   padding: 20px;
   opacity: 0.5;
   }

a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
   }

#container2 {
		width:800px;
		height:380px;
		border: 1px solid #ccc;
		background: #f8f8f8;
		margin: auto;
		margin-bottom:250px;
		opacity: 0.8;
		
		}

#myChart {
			margin:30px;
			
			}


#ecomputers {
			width: 100%;
			height:100%;
			}
#smart {
		width:70px;
		float:left;
		padding:18px;
		}
#smart1 {
		width:70px;
		float:left;
		padding:18px;
		}
#smart2 {
		width:70px;
		float:left;
		padding:18px;
		}
#smart3 {
		width:70px;
		float:left;
		padding:18px;
		}
#smart4 {
		width:70px;
		float:left;
		padding:18px;
		}
#smart5 {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi1 {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi2 {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi3 {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi4 {
		width:70px;
		float:left;
		padding:18px;
		}
#wifi5 {
		width:70px;
		float:left;
		padding:18px;
		}

#device {
			background: #f8f8f8;
			text-align:center;
			padding:20px;
			width:80%;
			margin:auto;
			}

#telly {background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#telly1 {background:#14638A;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#telly2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#telly3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#telly4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#telly5 {background:#26B8FF;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish{background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish1 {background:#14638A; 
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#establish5 {background:#26B8FF;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#time {
		margin:auto;
		width:90%;
		height:30%;
		}
#social {
		width:80px;
		float:left;
		padding:24px;
		}
#social1 {
		width:80px;
		float:left;
		padding:24px;
		}
#social2 {
		width:80px;
		float:left;
		padding:24px;
		}
#social3 {
		width:80px;
		float:left;
		padding:24px;
		}
#social4 {
		width:80px;
		float:right;
		padding:24px;
		}

#talk {
      background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#talk1 {background:#14638A; 
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#talk2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#talk3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}
#talk4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:180px;
		
		}


@media (max-width: 600px)
{
#ecomputers { height:30%;}
body { background: #1B3542;}
#intro { width:320px; margin:auto; margin-top:350px; padding:10px; background:#f8f8f8; color:#000;}
#menu { margin:0;border-style: none; opacity: 1.0;}
#container { margin-top:210px; width:350px; height:600px; }
#container2 { margin-top:210px; width:350px; height:600px; }
h1 { font-size: 300%;}
h2 { font-size: 200%;}
#time { width:320px; height:600px;}
#container2 {margin-top:20px;}
#social {
		width:50px;
		float:left;
		padding:3px;
		}
#social1 {
		width:50px;
		float:left;
		padding:3px;
		}
#social2 {
		width:50px;
		float:left;
		padding:3px;
		}
#social3 {
		width:50px;
		float:left;
		padding:3px;
		}
#social4 {
		width:50px;
		float:right;
		padding:3px;
		}
#wifi {
		width:50px;
		float:left;
		padding:21px;
		}
#wifi1 {
		width:50px;
		float:left;
		padding:21px;
		}
#wifi2 {
		width:50px;
		float:left;
		padding:21px;
		}
#wifi3 {
		width:50px;
		float:left;
		padding:21px;
		}
#wifi4 {
		width:50px;
		float:left;
		padding:21px;
		}
#wifi5 {
		width:50px;
		float:left;
		padding:21px;
		}
#smart {
		width:25px;
		float:left;
		padding:34px;
		}		

#smart1 {
		width:25px;
		float:left;
		padding:34px;
		}
#smart2 {
		width:25px;
		float:left;
		padding:34px;
		}
#smart3 {
		width:25px;
		float:left;
		padding:34px;
		}
#smart4 {
		width:25px;
		float:left;
		padding:34px;
		}
#smart5 {
		width:25px;
		float:left;
		padding:34px;
		}

#telly {background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}
#telly1 {background:#14638A;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}
#telly2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}
#telly3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}
#telly4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}
#telly5 {background:#26B8FF;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		margin-top:250px;
		
		}		

.menu-open {
		left: 70px;
	
}
.menu-side {
		background: #1B3542;
		border-right: 1px solid #1B3542;
        color: #fff;
		font-size:80%;
		text-align:center;
		opacity: 0.8;
		position:fixed;
		top:0;
		left:-70px;
		width: 50px;
		height: 100%;
		padding:10px;
}
* {
		margin:0;
		padding:0;
		}


}
