#smart {
		width:70px;
		}
#smart1 {
		width:70px;
		}
#smart2 {
		width:70px;
		}
#smart3 {
		width:70px;
		}
#smart4 {
		width:70px;
		}
#smart5 {
		width:70px;
		}
#wifi {
		width:70px;
		}
#wifi1 {
		width:70px;
		}
#wifi2 {
		width:70px;
		}
#wifi3 {
		width:70px;
		}
#wifi4 {
		width:70px;
		}
#wifi5 {
		width:70px;
		}		
#device {
			background: #f8f8f8;
			text-align:center;
			padding:20px;
			width:80%;
			}
#telly {background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#telly1 {background:#14638A;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#telly2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#telly3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#telly4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#telly5 {background:#26B8FF;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		}
#establish{background:#0E445E;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}
#establish1 {background:#14638A;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}
#establish2 {background:#1876A3;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}
#establish3 {background:#1D8CC2;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}
#establish4 {background:#209EDB;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}
#establish5 {background:#26B8FF;
		color:#fff;
		padding:5px;
		width:46%;
		text-align:center;
		margin:auto;
		padding:10px;
		}